<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Demosuelos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column nav-menu-custom">
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill nav-icon" aria-hidden="true"></span>
                <span class="nav-text">Home</span>
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="proyectos">
                <span class="bi bi-folder nav-icon" aria-hidden="true"></span>
                <span class="nav-text">Proyectos</span>
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="puntos-muestreo">
                <span class="bi bi-geo-alt nav-icon" aria-hidden="true"></span>
                <span class="nav-text">Puntos de Muestreo</span>
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="muestras">
                <span class="bi bi-box-seam nav-icon" aria-hidden="true"></span>
                <span class="nav-text">Muestras</span>
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="tipos-ensayo">
                <span class="bi bi-list-check nav-icon" aria-hidden="true"></span>
                <span class="nav-text">Tipos de Ensayo</span>
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="parametros-ensayo">
                <span class="bi bi-sliders nav-icon" aria-hidden="true"></span>
                <span class="nav-text">Parámetros de Ensayo</span>
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="ensayos-realizados">
                <span class="bi bi-clipboard-data nav-icon" aria-hidden="true"></span>
                <span class="nav-text">Ensayos Realizados</span>
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="resultados-parametro">
                <span class="bi bi-calculator nav-icon" aria-hidden="true"></span>
                <span class="nav-text">Resultados de Parámetro</span>
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="resumen-muestra">
                <span class="bi bi-file-earmark-text nav-icon" aria-hidden="true"></span>
                <span class="nav-text">Resumen de Muestra</span>
            </NavLink>
        </div>
    </nav>
</div>